@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@media (min-width: 768px) {
  button {
    font-size: 3rem !important;
    padding: 2rem 4rem !important;
    margin: 3rem 0 !important;
  }
}
@media (min-width: 1280px) {
  button {
    font-size: 2rem !important;
    padding: 2rem 3.5rem !important;
    margin: 2rem 0 !important;
  }
}
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: #a5815f;
  font-weight: 700;
}
a:hover {
  color: #c39e9e;
}

* {
  font-family: "Anonymous Pro", monospace;
}

h2 {
  font-size: 2.5rem;
}
h2 span {
  font-size: 2.5rem;
  color: #a5815f;
  font-weight: 700;
}

@media (min-width: 768px) {
  h2 {
    margin-bottom: 10rem;
    font-size: 3.5rem;
  }
  h2 span {
    font-size: 3.5rem;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 4.5rem;
  }
  h2 span {
    font-size: 4.5rem;
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: 5.5rem;
  }
  h2 span {
    font-size: 5.5rem;
  }
}
@media (min-width: 1440px) {
  h2 {
    font-size: 3.5rem;
  }
  h2 span {
    font-size: 3.5rem;
  }
}
@media (min-width: 1824px) {
  h2 {
    font-size: 3.5rem;
  }
  h2 span {
    font-size: 3.5rem;
  }
}
h3 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1024px) {
  h3 {
    font-size: 4.5rem;
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 5.5rem;
  }
}
@media (min-width: 1440px) {
  h3 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1824px) {
  h3 {
    font-size: 3.5rem;
  }
}
p {
  margin: 0.5rem 0;
  font-size: 1.75rem;
  text-align: justify;
}
p strong, p em {
  font-size: 1.75rem;
}
p strong a, p em a {
  font-size: 1.75rem;
}
p span {
  font-size: 1.75rem;
}

@media (min-width: 768px) {
  p {
    font-size: 2rem;
  }
  p strong, p em {
    font-size: 2rem;
  }
  p strong a, p em a {
    font-size: 2rem;
  }
  p span {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  p {
    font-size: 2.3rem;
  }
  p strong, p em {
    font-size: 2.3rem;
  }
  p strong a, p em a {
    font-size: 2.3rem;
  }
  p span {
    font-size: 2.3rem;
  }
}
@media (min-width: 1280px) {
  p {
    font-size: 2.3rem;
  }
  p strong, p em {
    font-size: 2.3rem;
  }
  p strong a, p em a {
    font-size: 2.3rem;
  }
  p span {
    font-size: 2.3rem;
  }
}
@media (min-width: 1440px) {
  p {
    font-size: 2.3rem;
  }
  p strong, p em {
    font-size: 2.3rem;
  }
  p strong a, p em a {
    font-size: 2.3rem;
  }
  p span {
    font-size: 2.3rem;
  }
}
@media (min-width: 1824px) {
  p {
    font-size: 2.3rem;
  }
  p strong, p em {
    font-size: 2.3rem;
  }
  p strong a, p em a {
    font-size: 2.3rem;
  }
  p span {
    font-size: 2.3rem;
  }
}
@keyframes move-360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes shake-it {
  0% {
    position: relative;
    right: -10px;
    transform: bottom rotate(-10deg);
    color: #a5815f;
  }
  25% {
    position: relative;
    right: -5px;
    transform: rotate(-5deg);
  }
  50% {
    position: relative;
    right: 0px;
    transform: bottom rotate(0deg);
  }
  75% {
    position: relative;
    right: 5px;
    transform: rotate(5deg);
  }
  100% {
    position: relative;
    right: 10px;
    transform: bottom rotate(10deg);
    color: #a5815f;
  }
}
@keyframes color-mix {
  0% {
    color: #2d2d2b;
  }
  50% {
    color: #a5815f;
    transform: scale(1.1);
  }
  100% {
    color: #a5815f;
    transform: scale(1.2);
  }
}
table {
  margin: 4rem 0;
  width: 100%;
  border-spacing: 3rem 1rem;
}
table tbody {
  text-align: center;
}
table caption {
  margin-bottom: 0.5rem;
}
table thead tr th {
  font-size: 1.75rem;
  border-bottom: 2px solid #2d2d2b;
}
table tbody tr td {
  font-size: 1.75rem;
}
table tbody tr td span {
  font-size: 1.75rem;
}

@media (min-width: 768px) {
  table thead tr th {
    font-size: 2rem;
  }
  table tbody tr td {
    font-size: 2rem;
  }
  table tbody tr td span {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .front-language {
    margin: 0 2rem;
  }

  table thead tr th {
    font-size: 2.3rem;
  }
  table tbody tr td {
    padding: 1rem 0;
    font-size: 2.3rem;
  }
  table tbody tr td span {
    font-size: 2.3rem;
  }
}
@media (min-width: 1280px) {
  table thead tr th {
    font-size: 2.3rem;
  }
  table tbody tr td {
    font-size: 2.3rem;
  }
  table tbody tr td span {
    font-size: 2.3rem;
  }
}
@media (min-width: 1440px) {
  table thead tr th {
    font-size: 2.3rem;
  }
  table tbody tr td {
    font-size: 2.3rem;
  }
  table tbody tr td span {
    font-size: 2.3rem;
  }
}
@media (min-width: 1824px) {
  table thead tr th {
    font-size: 2.3rem;
  }
  table tbody tr td {
    font-size: 2.3rem;
  }
  table tbody tr td span {
    font-size: 2.3rem;
  }
}
form {
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
form input {
  width: 100%;
  padding: 1rem 1rem;
  margin: 1rem 0;
  border: 2px solid #eedcde;
  font-size: 1.75rem;
}
form textarea {
  width: 100%;
  padding: 1rem 0;
  height: 18rem;
  margin: 1rem 0;
  resize: none;
  border: 2px solid #eedcde;
  font-size: 1.75rem;
}
form label {
  font-size: 1.75rem;
  font-weight: 700;
}
form button {
  border-radius: 10px;
  background-color: transparent;
  margin: 2rem 0;
  border: 1px solid #2d2d2b;
  padding: 1rem 2rem;
  font-size: 1.75rem;
}
form button:hover {
  background-color: #2d2d2b;
  border: 3px solid #a5815f;
  color: #eedcde;
}

@media (min-width: 768px) {
  form {
    margin: 6rem 0;
  }
  form input {
    font-size: 2rem;
  }
  form textarea {
    border: 2px solid #eedcde;
    font-size: 2rem;
  }
  form label {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  form input {
    font-size: 2.3rem;
  }
  form textarea {
    font-size: 2.3rem;
  }
  form label {
    font-size: 2.3rem;
  }
}
@media (min-width: 1280px) {
  form {
    margin: 0rem 0;
  }
  form input {
    font-size: 2.3rem;
  }
  form textarea {
    font-size: 2.3rem;
  }
  form label {
    font-size: 2.3rem;
  }
}
@media (min-width: 1440px) {
  form {
    margin: 6rem 0;
  }
  form input {
    font-size: 2.3rem;
  }
  form textarea {
    font-size: 2.3rem;
  }
  form label {
    font-size: 2.3rem;
  }
}
@media (min-width: 1824px) {
  form input {
    font-size: 2.3rem;
  }
  form textarea {
    font-size: 2.3rem;
  }
  form label {
    font-size: 2.3rem;
  }
}
body {
  background-color: #f6f5f0;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 100vh auto 100vh;
  grid-template-columns: 100%;
  overflow-x: hidden;
}

.tablet {
  display: none;
}

.medium-laptop {
  display: none;
}

.laptop {
  display: none;
}

.xl-laptop {
  display: none;
}

.xxl-laptop {
  display: none;
}

.disabled {
  pointer-events: none;
  color: #c39e9e !important;
}

header {
  min-height: 640px;
  grid-area: header;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header nav {
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 4rem;
  background-color: rgba(246, 245, 240, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
header nav a {
  font-size: 2rem;
}
header nav a:hover {
  color: #c39e9e;
}
header nav a i {
  font-size: 2rem;
  color: #a5815f;
}
header nav .logo {
  font-size: 2.5rem;
}
header .welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .welcome .info-container {
  margin: 2rem 0;
}
header .welcome .info-container h1 {
  margin-top: 2rem;
  font-size: 4.5rem;
  color: #2d2d2b;
}
header .welcome .info-container h1 span {
  color: #a5815f;
  font-size: 0.8em;
  position: relative;
  left: 4rem;
}
header .welcome .info-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .welcome .info-container ul li {
  position: relative;
  left: 4rem;
  top: 1rem;
  font-size: 1.2rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid #2d2d2b;
  border-radius: 10px;
}
header .welcome .animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 400px;
  overflow: hidden;
}
header .welcome .animation-container .fas:nth-of-type(1) {
  color: #f0e4d8;
  font-size: 28rem;
  position: relative;
  top: 4rem;
  left: 18rem;
  animation: move-360 30s linear infinite;
}
header .welcome .animation-container .fas:nth-of-type(2) {
  color: #a5815f;
  font-size: 18rem;
  position: relative;
  top: -10rem;
  left: 1rem;
  animation: move-360 15s linear infinite reverse;
}
header .welcome .animation-container .fas:nth-of-type(3) {
  color: #2d2d2b;
  font-size: 12rem;
  position: relative;
  top: -8rem;
  left: -26rem;
  animation: move-360 7.5s linear infinite;
}
header .welcome .animation-container .fas:nth-of-type(4) {
  color: #eedcde;
  font-size: 44rem;
  position: absolute;
  top: 15rem;
  left: -22rem;
  animation: move-360 60s linear infinite reverse;
  z-index: -1;
}

main {
  overflow-x: hidden;
  grid-area: main;
  z-index: 1;
  padding: 0rem 2rem;
  display: grid;
  grid-template-areas: "about" "languages" "projects" "contact";
  grid-template-rows: auto auto auto auto;
}
main .about {
  padding-top: 5.2rem;
  grid-area: about;
}
main .about .image {
  display: flex;
  justify-content: center;
}
main .about .image img {
  margin: 1rem 0;
  width: 60%;
  border-radius: 50%;
  max-height: 350px;
}
main .about .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .about .text p:last-of-type {
  margin-top: 2rem;
}
main .about .text a[role=button] {
  border-radius: 10px;
  background-color: transparent;
  margin: 2rem 0;
  border: 1px solid #2d2d2b;
  padding: 1rem 2rem;
  font-size: 1.75rem;
}
main .about .text a[role=button]:hover {
  background-color: #2d2d2b;
  border: 3px solid #a5815f;
  color: #eedcde;
}
main .languages {
  padding-top: 5.2rem;
  margin: 4rem 0;
  grid-area: languages;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .languages h2 {
  align-items: flex-start;
}
main .projects {
  padding-top: 5.2rem;
  margin-top: 2rem;
  grid-area: projects;
}
main .projects .card {
  border: 1px solid #eedcde;
  box-shadow: -2px -2px 2px #eedcde, 2px 2px 2px #eedcde;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 4rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  flex-direction: column;
}
main .projects .card .card-header {
  height: 250px;
  width: 100%;
}
main .projects .card .card-header img {
  width: 100%;
  height: 100%;
}
main .projects .card .card-body {
  margin: 2rem 0;
}
main .projects .card .card-footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
main .projects .card .card-footer ul li a {
  font-size: 2rem;
}
main .projects .card .card-footer ul li a i {
  font-size: 2rem;
  color: #a5815f;
}
main .contact {
  padding-top: 5.2rem;
  margin: 4rem 0;
  grid-area: contact;
}

footer {
  min-height: 640px;
  overflow-x: hidden;
  grid-area: footer;
  background-color: #f0e4d8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem;
  overflow: hidden;
  position: relative;
}
footer .name {
  z-index: 2;
}
footer .tech-education {
  z-index: 2;
  text-align: center;
}
footer .tech-education p {
  text-align: center;
}
footer .signature {
  z-index: 2;
}
footer .signature p {
  font-size: 5rem;
  font-weight: 700;
}
footer .social-links {
  z-index: 2;
  text-align: center;
}
footer .social-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 4rem;
}
footer .social-links ul li {
  padding: 0 2rem;
}
footer .social-links ul li a i {
  font-size: 4.5rem;
}
footer .animation-container i {
  color: #f6f5f0;
  font-size: 60rem !important;
  position: absolute;
  bottom: -15rem;
  left: 5rem;
  animation: move-360 60s linear infinite;
  z-index: 1;
}

@media (min-width: 768px) {
  body .tablet {
    display: block;
  }
  body .mobile {
    display: none;
  }

  header nav {
    padding: 0rem 4rem;
  }
  header nav a i {
    font-size: 2.5rem;
  }
  header .welcome {
    height: 100%;
  }
  header .welcome .info-container {
    padding: 0rem 4rem;
  }
  header .welcome .info-container h1 {
    margin-top: 7rem;
  }
  header .welcome .info-container ul li {
    font-size: 2rem;
  }
  header .welcome .animation-container {
    height: 100%;
    position: relative;
  }
  header .welcome .animation-container .fas:nth-of-type(1) {
    color: #f0e4d8;
    font-size: 38rem;
    position: relative;
    top: 4rem;
    left: 14rem;
  }
  header .welcome .animation-container .fas:nth-of-type(2) {
    color: #a5815f;
    font-size: 28rem;
    position: relative;
    top: -10rem;
    left: 0.5rem;
  }
  header .welcome .animation-container .fas:nth-of-type(3) {
    color: #2d2d2b;
    font-size: 22rem;
    position: relative;
    top: 0rem;
    left: -5.8rem;
  }
  header .welcome .animation-container .fas:nth-of-type(4) {
    color: #eedcde;
    font-size: 80rem;
    position: absolute;
    top: 0rem;
    left: -50rem;
  }

  main {
    padding: 0rem 4rem;
  }
  main .about .text p {
    margin: 1rem 0;
  }
  main .about .text a {
    font-size: 3rem !important;
    padding: 2rem 4rem !important;
    margin: 3rem 0 !important;
  }
  main .about .image img {
    max-width: 350px;
    margin-bottom: 5rem;
  }
  main .about .note {
    margin-top: 4rem;
  }
  main .languages h2 {
    margin-bottom: 2rem;
  }
  main .languages p {
    text-align: center;
  }
  main .languages .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
  }
  main .projects .projects-container {
    display: flex;
    flex-wrap: wrap;
  }
  main .projects .projects-container .card {
    margin: 1rem 1rem;
    width: 47%;
  }
  main .projects .projects-container .card .card-footer ul li a {
    font-size: 2.5rem;
  }
  main .projects .projects-container .card .card-footer ul li a i {
    font-size: 2.5rem;
    color: #a5815f;
  }

  footer {
    padding: 0rem 4rem;
  }
  footer .social-links ul li a i {
    font-size: 8rem;
  }
  footer .social-links ul li a span {
    font-size: 2rem;
  }
  footer .signature p {
    font-size: 8rem;
  }
  footer .animation-container i {
    color: #f6f5f0;
    font-size: 100rem !important;
    position: absolute;
    bottom: -30rem;
    left: 18rem;
  }
}
@media (min-width: 1024px) {
  body .medium-laptop {
    display: block;
  }

  header nav {
    padding: 0rem 4rem;
    height: 10.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }
  header nav .logo {
    margin-right: auto;
    font-size: 5rem;
    font-weight: 700;
  }
  header nav a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0 3rem;
  }
  header nav a i {
    font-size: 3.5rem;
  }
  header nav a span {
    font-size: 2.3rem;
  }
  header .welcome .info-container {
    padding: 0rem 4rem;
  }
  header .welcome .info-container h1 {
    font-size: 7rem;
    margin-top: 15rem;
  }
  header .welcome .info-container ul li {
    font-size: 2.5rem;
  }
  header .welcome .animation-container .fas:nth-of-type(1) {
    color: #f0e4d8;
    font-size: 45rem;
    position: relative;
    top: 2rem;
    left: 6rem;
  }
  header .welcome .animation-container .fas:nth-of-type(2) {
    color: #a5815f;
    font-size: 33rem;
    position: relative;
    top: 5rem;
    left: -2rem;
  }
  header .welcome .animation-container .fas:nth-of-type(3) {
    color: #2d2d2b;
    font-size: 22rem;
    position: relative;
    top: -2rem;
    left: -8rem;
  }
  header .welcome .animation-container .fas:nth-of-type(4) {
    color: #eedcde;
    font-size: 90rem;
    position: absolute;
    top: -1rem;
    left: -50rem;
  }

  main {
    padding: 0rem 4rem;
  }
  main .about {
    padding-top: 10rem;
  }
  main .languages h2 {
    padding: 5rem 0;
  }
  main .projects {
    padding-top: 10rem;
  }
  main .projects .projects-container .card {
    width: 31%;
  }
  main .projects .projects-container .card .card-footer ul li a {
    font-size: 2.5rem;
  }
  main .projects .projects-container .card .card-footer ul li a i {
    font-size: 2.5rem;
  }
  main .contact {
    padding-top: 10rem;
  }

  footer {
    padding: 0rem 4rem;
  }
  footer .name {
    padding-top: 12rem;
  }
  footer .social-links ul li a i {
    font-size: 8rem;
  }
  footer .social-links ul li a span {
    font-size: 2.3rem;
  }
  footer .signature p {
    font-size: 7rem;
  }
}
@media (min-width: 1280px) {
  body .laptop {
    display: block;
  }

  header nav {
    padding: 0rem 8rem;
  }
  header nav .logo {
    font-size: 6rem;
  }
  header nav a {
    padding: 0 4rem;
  }
  header nav a i {
    font-size: 3rem;
  }
  header nav a span {
    font-size: 2.3rem;
  }
  header .welcome .info-container {
    padding: 0rem 8rem;
  }
  header .welcome .animation-container .fas:nth-of-type(1) {
    color: #f0e4d8;
    font-size: 55rem;
    position: relative;
    top: 2rem;
    left: 14rem;
  }
  header .welcome .animation-container .fas:nth-of-type(2) {
    color: #a5815f;
    font-size: 38rem;
    position: relative;
    top: -10rem;
    left: 0.5rem;
  }
  header .welcome .animation-container .fas:nth-of-type(3) {
    color: #2d2d2b;
    font-size: 28rem;
    position: relative;
    top: -2rem;
    left: -5.8rem;
  }
  header .welcome .animation-container .fas:nth-of-type(4) {
    color: #eedcde;
    font-size: 100rem;
    position: absolute;
    top: -1rem;
    left: -60rem;
  }
  header .welcome .animation-container .fas:nth-of-type(5) {
    color: #c39e9e;
    font-size: 20rem;
    position: relative;
    top: 7rem;
    left: -11rem;
    animation: move-360 3.75s linear infinite reverse;
  }

  main {
    padding: 0rem 8rem;
  }
  main .about .text a {
    font-size: 2rem !important;
    padding: 2rem 3.5rem !important;
    margin: 2rem 0 !important;
  }
  main .projects .projects-container .card .card-footer ul li a {
    font-size: 2.5rem;
  }
  main .projects .projects-container .card .card-footer ul li a i {
    font-size: 2.5rem;
  }
  main .contact .contact-container {
    padding-top: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  main .contact .contact-container .contact-details {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .contact .contact-container .contact-details h3 {
    font-size: 2.3rem;
  }
  main .contact .contact-container .contact-details ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .contact .contact-container .contact-details ul li {
    padding: 2rem 0;
    font-size: 2.3rem;
  }
  main .contact .contact-container .contact-details ul .email::before {
    font-family: FontAwesome;
    padding-right: 1rem;
    content: "";
    color: #a5815f;
    font-weight: 700;
  }
  main .contact .contact-container .contact-details ul .skype::before {
    font-family: FontAwesome;
    padding-right: 1rem;
    content: "";
    color: #a5815f;
    font-weight: 700;
  }
  main .contact .contact-container .contact-details ul .phone::before {
    font-family: FontAwesome;
    padding-right: 1rem;
    content: "";
    color: #a5815f;
    font-weight: 700;
  }
  main .contact .contact-container .contact-form {
    width: 100%;
  }

  footer {
    padding: 0rem 8rem;
  }
  footer .social-links ul li a i {
    font-size: 8rem;
  }
  footer .social-links ul li a span {
    font-size: 2.3rem;
  }
  footer .signature p {
    font-size: 8rem;
  }
}
@media (min-width: 1440px) {
  body .xl-laptop {
    display: block;
  }

  header nav {
    padding: 0rem 9rem;
  }
  header nav a i {
    font-size: 3rem;
  }
  header nav a span {
    font-size: 2.3rem;
  }
  header .welcome .info-container {
    padding: 0rem 9rem;
  }
  header .welcome .animation-container .fas:nth-of-type(1) {
    color: #f0e4d8;
    font-size: 56rem;
    position: relative;
    top: 2rem;
    left: 14rem;
  }
  header .welcome .animation-container .fas:nth-of-type(2) {
    color: #a5815f;
    font-size: 39rem;
    position: relative;
    top: -8rem;
    left: 0.5rem;
  }
  header .welcome .animation-container .fas:nth-of-type(3) {
    color: #2d2d2b;
    font-size: 30rem;
    position: relative;
    top: -2rem;
    left: -5.8rem;
  }
  header .welcome .animation-container .fas:nth-of-type(4) {
    color: #eedcde;
    font-size: 100rem;
    position: absolute;
    top: -1rem;
    left: -60rem;
  }
  header .welcome .animation-container .fas:nth-of-type(5) {
    color: #c39e9e;
    font-size: 20rem;
    position: relative;
    top: 5rem;
    left: -11rem;
    animation: move-360 3.75s linear infinite reverse;
  }

  main {
    padding: 0rem 9rem;
  }
  main .languages .other-tools {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  main .languages .other-tools .tools-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  main .languages .other-tools .tools-list li {
    font-size: 2.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  main .languages .other-tools .tools-list li i {
    font-size: 8rem;
  }
  main .languages .other-tools .tools-list li i:hover {
    animation: shake-it 500ms infinite alternate-reverse linear backwards;
  }
  main .projects .projects-container {
    justify-content: center;
  }
  main .projects .projects-container .card {
    width: 23%;
  }
  main .projects .projects-container .card .card-footer ul li a {
    font-size: 2.5rem;
  }
  main .projects .projects-container .card .card-footer ul li a i {
    font-size: 2.5rem;
  }
  main .contact .contact-container .contact-details h3 {
    font-size: 2.3rem;
  }
  main .contact .contact-container .contact-details ul li {
    font-size: 2.3rem;
  }

  footer {
    padding: 0rem 9rem;
  }
  footer .social-links ul li a i {
    font-size: 8rem;
  }
  footer .social-links ul li a span {
    font-size: 2.3rem;
  }
  footer .animation-container i:nth-of-type(1) {
    color: #f6f5f0;
    font-size: 100rem !important;
    position: absolute;
    bottom: -30rem;
    left: 78rem;
  }
  footer .animation-container i:nth-of-type(2) {
    color: #f6f5f0;
    font-size: 70rem !important;
    position: absolute;
    bottom: -20rem;
    left: -28rem;
    animation: move-360 60s linear infinite reverse;
  }
}
@media (min-width: 1824px) {
  body .xxl-laptop {
    display: block;
  }

  header nav {
    padding: 0rem 10rem;
  }
  header nav a i {
    font-size: 3rem;
  }
  header nav a span {
    font-size: 2.3rem;
  }
  header .welcome .info-container {
    padding: 0rem 10rem;
  }
  header .welcome .animation-container .fas:nth-of-type(1) {
    color: #f0e4d8;
    font-size: 60rem;
    position: relative;
    top: 2rem;
    left: 4rem;
  }
  header .welcome .animation-container .fas:nth-of-type(2) {
    color: #a5815f;
    font-size: 45rem;
    position: relative;
    top: -8rem;
    left: -5rem;
  }
  header .welcome .animation-container .fas:nth-of-type(3) {
    color: #2d2d2b;
    font-size: 35rem;
    position: relative;
    top: -2rem;
    left: -11rem;
  }
  header .welcome .animation-container .fas:nth-of-type(4) {
    color: #eedcde;
    font-size: 110rem;
    position: absolute;
    top: -1rem;
    left: -60rem;
  }
  header .welcome .animation-container .fas:nth-of-type(5) {
    color: #c39e9e;
    font-size: 25rem;
    position: relative;
    top: 5rem;
    left: -17rem;
    animation: move-360 3.75s linear infinite reverse;
  }
  header .welcome .animation-container .fas:nth-of-type(6) {
    color: #eedcde;
    font-size: 17rem;
    position: relative;
    top: 0rem;
    left: -20rem;
    animation: move-360 1.875s linear infinite;
  }

  main {
    padding: 0rem 10rem;
  }
  main .about .xxl-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  main .about .xxl-flex-container .interest {
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }
  main .about .xxl-flex-container .interest .interests-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .about .xxl-flex-container .interest .interests-list li {
    width: 50%;
    font-size: 2.3rem;
    padding: 6rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  main .about .xxl-flex-container .interest .interests-list li i {
    font-size: 8rem;
    margin-bottom: 1rem;
  }
  main .about .xxl-flex-container .interest .interests-list li:hover {
    animation: color-mix 1s linear forwards;
  }
  main .about .text {
    width: 50%;
  }
  main .languages .other-tools .tools-list li {
    font-size: 2.3rem;
  }
  main .languages .other-tools .tools-list li i {
    font-size: 8rem;
  }
  main .projects .projects-container .card .card-footer ul li a {
    font-size: 2.5rem;
  }
  main .projects .projects-container .card .card-footer ul li a i {
    font-size: 2.5rem;
  }
  main .contact .contact-container .contact-details h3 {
    font-size: 2.3rem;
  }
  main .contact .contact-container .contact-details ul li {
    font-size: 2.3rem;
  }

  footer {
    padding: 0rem 10rem;
  }
  footer .tech-education {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  footer .tech-education img {
    margin-top: 2rem;
    filter: brightness(0%);
    transform: scale(1.2);
  }
  footer .social-links ul li a i {
    font-size: 8rem;
  }
  footer .social-links ul li a span {
    font-size: 2.3rem;
  }
  footer .animation-container i:nth-of-type(1) {
    color: #f6f5f0;
    font-size: 120rem !important;
    position: absolute;
    bottom: -30rem;
    left: 120rem;
  }
  footer .animation-container i:nth-of-type(2) {
    color: #f6f5f0;
    font-size: 80rem !important;
    position: absolute;
    bottom: -20rem;
    left: -28rem;
    animation: move-360 60s linear infinite reverse;
  }
}

/*# sourceMappingURL=styles.css.map */
