
body {
    background-color: $primary-background;

    display: grid;
    grid-template-areas:    "header"
                            "main"
                            "footer";
    grid-template-rows: 100vh auto 100vh;
    grid-template-columns: 100%;
    overflow-x: hidden;
    
}

// Responsive Classes
.tablet {
    display: none;
}
.medium-laptop {
    display: none;
}
.laptop {
    display: none;
}
.xl-laptop {
    display: none;
}
.xxl-laptop {
    display: none;
}


// Disable for Links or Icons. Use this class or remove this class.
.disabled {
    pointer-events: none;
    color: $primary-deco !important;
}

header {
    min-height: 640px; //This is to solve some issues that were happening when rotating the phone
    grid-area: header;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    nav {
        padding: $principal-padding;
        @include flex (row, space-around, center);
        height: 4rem;
        background-color: rgba($color: $primary-background, $alpha: 0.95);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        
        a { 
            font-size: $menu-icon-font-size;
            &:hover {
                color: $primary-deco;
            }
            
            i {
                font-size: $menu-icon-font-size;
                color: $primary-color;

                
            }
            
        }
        .logo {
            font-size: 2.5rem;
            //justify-self: flex-start;
        }
    }
    .welcome {  
        @include flex (column, center, center);
        .info-container {
            margin: 2rem 0;
            h1 {
                margin-top: 2rem;
                font-size: $main-title-font-size;
                color: $secondary-color;
                span {
                    color: $primary-color;
                    font-size: 0.8em;
                    position: relative;
                    left: 4rem;
                }
            }
    
            ul {
                @include flex (row, center, center);
    
                li {
                    position: relative;
                    left: 4rem;
                    top: 1rem;
                    font-size: 1.2rem;
                    margin: 0 0.5rem;
                    padding: 0.5rem;
                    border: 1px solid $secondary-color;
                    border-radius: $main-border-radius;
    
                }
            }
        }
        .animation-container {
            @include flex (row, center, center);
            width: 100vw;
            height: 400px;

            overflow: hidden;
            .fas {
               &:nth-of-type(1){
                   @include cog-properties($secondary-background, 28rem, relative, 4rem, 18rem);
                    animation: move-360 30s linear infinite;   
               }
               &:nth-of-type(2) {
                   @include cog-properties ($primary-color, 18rem, relative, -10rem, 1rem);
                   animation: move-360 15s linear infinite reverse;          
               }
               &:nth-of-type(3){
                   @include cog-properties ($secondary-color, 12rem, relative, -8rem, -26rem);
                    animation: move-360 7.5s linear infinite;
               }
               &:nth-of-type(4){
                    @include cog-properties ($secondary-deco, 44rem, absolute, 15rem,-22rem);  
                    animation: move-360 60s linear infinite reverse;
                    z-index: -1;
                    
               }
                 
            }
        }
    }
}

main {
    overflow-x: hidden;
    grid-area: main;
    z-index: 1;
    padding: $principal-padding;
    display: grid;
    grid-template-areas:    "about"
                            "languages"
                            "projects"
                            "contact";
    grid-template-rows: auto auto auto auto;
    .about {
        padding-top: 5.2rem;
        grid-area: about;
        .image {
            display: flex;
            justify-content: center;
            img {
                margin: 1rem 0;
                width: 60%;
                border-radius: 50%;
                max-height: 350px;              
            }
        }
        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                
                &:last-of-type {
                    margin-top: 2rem
                }
            }
            
            a {
                &[role="button"] {
                    @include primary-button;
                }
            }
        }
    }
    .languages {
    // ATTENTION! Table properties in tables.scss file
        padding-top: 5.2rem;
        margin: 4rem 0;
        grid-area: languages;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        h2 {
            align-items: flex-start;
        }
    }
    .projects {
        padding-top: 5.2rem;
        margin-top: 2rem;
        
        grid-area: projects;

        .card {
            border: 1px solid $secondary-deco;
            box-shadow: -2px -2px 2px $secondary-deco, 2px 2px 2px $secondary-deco;
            padding: 1.5rem;
            border-radius: $main-border-radius;
            margin: 4rem 0rem;

            @include flex (column, space-between, space-around);

            .card-header {
                height: 250px;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            
            }
            .card-body {
                margin: 2rem 0;
            }
            .card-footer {
                ul {
                    @include flex (row, space-around, center);
                    li {
                        a { 
                            font-size: $card-icon-font-size;
                            i {
                                font-size: $card-icon-font-size;
                                color: $primary-color;
                            }
                            
                        }
                    }
                }
            }
        }
    }
    .contact {
        padding-top: 5.2rem;
        margin: 4rem 0;
        //border: 1px solid;
        grid-area: contact;
        
        
    }
    
}

footer {
    min-height: 640px; //This is to solve some issues that were happening when rotating the phone
    overflow-x: hidden;
    grid-area: footer;
    .name {
        z-index: 2;
    }
    background-color: $secondary-background;
    @include flex (column, space-around, center);
    padding: 1rem 2rem;
    overflow: hidden;
    position: relative;
    

    .tech-education {
        z-index: 2;
        text-align: center;
        p {
            text-align: center;
        }
        
    }
    .signature {
        z-index: 2;
        p {
            font-size: 5rem;
            font-weight: 700;
        }
    }
    .social-links {
        z-index: 2;
        text-align: center;
        
        ul {
            @include flex (row, space-around, center);
            margin-top: 4rem;
            li {
                padding: 0 2rem;

                a {
                    i {
                        font-size: $social-icon-font-size;
                        
                    }
                }
            }
        }
    }
    .animation-container {
        i {
            @include cog-properties-bottom ($primary-background, 60rem, absolute, -15rem, 5rem);
            animation: move-360 60s linear infinite;
            z-index: 1
        }
    }
}





