// Colors of the Project

// Brown
$primary-color: #a5815f;
// Dark
$secondary-color: #2d2d2b;



// Backgrounds colors

//White
$primary-background: #f6f5f0;
$secondary-background: #f0e4d8;

// Decorative colors
$primary-deco: #c39e9e;
//$secondary-deco: #f6f0f1;
//$secondary-deco: #e6d7d9;
$secondary-deco: #eedcde;


//Font Sizes

$menu-icon-font-size: 2rem;
$menu-icon-font-size-768: 2.5rem;
$menu-icon-font-size-1024: 2.5rem;
$menu-icon-font-size-1280: 3rem;
$menu-icon-font-size-1440: 3rem;
$menu-icon-font-size-1824: 3rem;

$card-icon-font-size: 2rem;
$card-icon-font-size-768: 2.3rem;
$card-icon-font-size-1024: 2.5rem;
$card-icon-font-size-1280: 2.5rem;
$card-icon-font-size-1440: 2.5rem;
$card-icon-font-size-1824: 2.5rem;

$main-title-font-size: 4.5rem;
$main-title-font-size-768: 6rem;
$main-title-font-size-1024: 6rem;
$main-title-font-size-1280: 6rem;
$main-title-font-size-1440: 8rem;
$main-title-font-size-1824: 8rem;

$title-font-size: 2.5rem;
$title-font-size-768: 2.7rem;
$title-font-size-1024: 3rem;
$title-font-size-1280: 3rem;
$title-font-size-1440: 3rem;
$title-font-size-1824: 3rem;

$sub-title-font-size:2rem;
$sub-title-font-size-768: 2.8rem;
$sub-title-font-size-1024: 2.8rem;
$sub-title-font-size-1280: 2.8rem;
$sub-title-font-size-1440: 2.8rem;
$sub-title-font-size-1824: 2.8rem;

$paragraph-font-size:1.5rem;
$paragraph-font-size-768: 1.6rem;
$paragraph-font-size-1024: 1.7rem;
$paragraph-font-size-1280: 1.7rem;
$paragraph-font-size-1440: 1.7rem;
$paragraph-font-size-1824: 1.7rem;

$social-icon-font-size: 4.5rem;
$social-icon-font-size-768: 6rem;
$social-icon-font-size-1024: 6rem;
$social-icon-font-size-1280: 6rem;
$social-icon-font-size-1440: 8rem;
$social-icon-font-size-1824: 8rem;



//Misc

$main-border-radius: 10px;

$principal-padding: 0rem 2rem;
$principal-padding-768: 0rem 4.5rem;
$principal-padding-1024: 0rem 8rem;
$principal-padding-1280: 0rem 8rem;
$principal-padding-1440: 0rem 9rem;
$principal-padding-1824: 0rem 10rem;


