* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: "intro intro intro"
                        ". colors ."
                        ". button .";
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 180px auto 100px;
    background-color: rgb(16, 24, 32);
    overflow-x: hidden;

}
h1 {
    font-size: 2rem;
}
p {
    font-size: 1.3rem;
}

.intro-container {
    grid-area: intro;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
}
.container {
    grid-area: colors;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    
}
.colors-container {
    padding: 0 5vw 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px;
}

span {
    box-shadow: 1px 1px 3px rgb(16, 44, 32), -1px -1px 3px rgb(16, 44, 32);
    width: 28%;
    /* height: 80px; */
    padding-bottom: 28%;
    margin: 5px;
    border-radius: 20px;
    background-color: antiquewhite;
    
}
.animation {
    animation: shake-it 0.8s linear infinite alternate-reverse;
}
.animation-zoom {
    animation: zoomUp 3s linear infinite alternate-reverse;
}

.button-container {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#play-game {
    width: 50%;
    height: 80px;
    padding: 15px 20px 15px;
    border-radius: 25px;
    background-color: antiquewhite;
    font-size: 1.2rem;
    border: none;
    box-shadow: 1px 1px 3px rgb(16, 44, 32), -1px -1px 3px rgb(16, 44, 32);
    cursor: pointer;
}



@keyframes shake-it {
    0% {
        position: relative;
        right: -5px;
        transform: bottom rotate(-10deg);      
    }
    25% {
        position: relative;
        right: -2.5px;
        transform: rotate(-5deg);
    }
    50% {
        position: relative;
        right:  0px;
        transform: bottom rotate(0deg);
    }
    75% {
        position: relative;
        right: 2.5px;
        transform:  rotate(5deg);
    }
    100%{
        position: relative;
        right: 5px;
        transform:  bottom rotate(10deg);
    }
}

@keyframes zoomUp {
    0% {
        transform: scale(1);
    }
    
    50% {
        
        transform: scale(1.1);
    }
    100% {
        
        transform: scale(1.2);
    }
}

@media (min-width: 768px) {
    span {
        width: 25%;
        padding-bottom: 25%;
        margin: 10px;
    }
}
@media (min-width: 1024px) {
    .colors-container {
        width: 70%;
    }
}